version: '3.4'

services:
  bd: 
    image: mysql
    restart: always
    volumes:
      - ./tmp/db:/var/lib/mysql
    environment: 
      MYSQL_ROOT_PASSWORD: root23
      MYSQL_DATABASE: trialbd
    ports:
      - "8101:3306"
    command: mysqld --character-set-server=utf8 --collation-server=utf8_unicode_ci

  webapplication13:
    image: ${DOCKER_REGISTRY-}webapplication13
    build:
      context: .
      dockerfile: WebApplication13/Dockerfile
    ports:
      - "5000:80"
  
  proxy:
    image: nginx:alpine
    volumes: 
      - ./nginx.conf:/etc/nginx/nginx.conf
    ports: 
     - "80:80"

